<main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 bg-color" style="background-color: #F7F7F9;min-height: 100vh;">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h4>All Data</h4>
    <button class="btn btn-primary" (click)="add()">Add Data</button>
  </div>

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3">
    <nav aria-label="breadcrumb" class="w-100">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">All Data</li>
      </ol>
    </nav>
  </div>

  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center rounded mb-3 border-bottom bg-white p-3">
    <ng-container>
      <div class="table-responsive">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Image</th>
              <th scope="col">Name</th>
              <th scope="col">Timing</th>
              <th scope="col">Location</th>
              <th scope="col">Email</th>
              <th scope="col">Mobile Number</th>
              <th scope="col">Is 24 Hour Available</th>
              <th scope="col">Edit</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of allData;let i = index">
              <td>{{i+1}}</td>
              <td><img [src]="data?.imgUrl" width="100px" height="100px" alt=""></td>
              <td>{{data?.name}}</td>
              <td>{{data?.time}}</td>
              <td>{{data?.locationLink}}</td>
              <td>{{data?.email}}</td>
              <td>{{data?.mobile}}</td>
              <td>{{data?.availability == 'true' ? 'Yes' : 'No'}}</td>
              <td><button class="btn btn-warning" (click)="edit(data.id)"><i class="fa fa-pencil"></i></button>
              </td>
              <td><button class="btn btn-danger" (click)="delete(data.id)"><i class="fa fa-trash"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-container>
  </div>
  <br><br>
</main>