<nav class="navbar sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3">{{userData.firstName}} {{userData.lastName}}</a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" (click)="logout()">Log out</a>
        </li>
    </ul>
</nav>

<main class="col-md-12 ml-sm-auto col-lg-12 px-md-4 bg-color" style="background-color: #fff;min-height: 100vh;">
    <div class="container-fluid">
        <!-- Transactions Start -->
        <div class="row py-5">
            <div class="col-md-12 mb-3">
                <h5>Deposit: ${{userData?.deposit}}</h5>
                <h5>Withdraw: ${{userData?.withdraw}}</h5>
                <h5>Balance: ${{neto - userData?.withdraw}}</h5>
            </div>
            <div class="col-md-6">
                <p-table [value]="allTransaction" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [rowsPerPageOptions]="[10,25,50]">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Date</th>
                            <th>Bruto</th>
                            <th>Fee</th>
                            <th>Neto</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-transaction>
                        <tr>
                            <td>{{transaction.id}}</td>
                            <td>{{transaction.bruto}}</td>
                            <td>{{transaction.fee}}</td>
                            <td>{{transaction.neto}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
        <!-- Transactions End -->

        <!-- Trasaction Graph start -->
        <div class="row">
            <div class="col-md-2">
                <h3>Select Date</h3>
                <!-- <select class="form-control" (change)="onSelectDate($event)">
                    <option selected>Select Date</option>
                    <option *ngFor="let data of allTransaction" [value]="data.monthYear">{{data.id | date : 'mediumDate'}}
                    </option>
                </select> -->
                <input type="month" class="form-control" [ngModel]="currentMonth" id="start" (change)="onSelectDate($event)" name="start" placeholder="MM/YYYY">
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-6">
                <p-chart type="line" [data]="data" [options]="options"></p-chart>
            </div>
        </div>
        <!-- Trasaction Graph end -->
    </div>
</main>